# EDA

In [2]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt

# Load in data 
Use Pandas to import csv file. the columns are sperated by '|' so we set sep='|'

In [4]:
df = pd.read_csv('/Users/stephen/Desktop/PPP_Loans/Data/query_20211221_082058.csv', sep='|')

In [5]:
df.head()

,loannumber,originatinglenderlocationid,cert,cb,stchrtr,dateapproved,borrowername,borrowercity,borrowerstate,originatinglender,originatinglendercity,originatinglenderstate,naicscode,ruralurbanindicator,lmiindicator,minority,currentapprovalamount,jobsreported,forgivenessamount
0,9547167709,19248.0,873.0,0.0,1.0,2020-05-01 00:00:00.000000,Q AND J SERVICES LLC,Manning,NaN,Synovus Bank,COLUMBUS,GA,541990.0,U,1.0,NaN,136520.96,170.0,137747.78
1,9589997709,57328.0,6560.0,0.0,0.0,2020-05-01 00:00:00.000000,"TJK KITCHENS &AMP; BREWPUBS, LLC",NaN,NaN,The Huntington National Bank,COLUMBUS,OH,238990.0,U,0.0,NaN,109988.00,8.0,110881.96
2,5569977708,9551.0,3510.0,0.0,0.0,2020-05-01 00:00:00.000000,NOT AVAILABLE,NaN,NaN,"Bank of America, National Association",CHARLOTTE,NC,339114.0,U,0.0,NaN,90394.00,20.0,91404.43
3,9595817708,57328.0,6560.0,0.0,0.0,2020-05-01 00:00:00.000000,STERLING HOME CARE INC,NaN,NaN,The Huntington National Bank,COLUMBUS,OH,621610.0,U,0.0,NaN,79003.00,6.0,79699.96
4,9810697702,57328.0,6560.0,0.0,0.0,2020-05-01 00:00:00.000000,BRILACK INC,NaN,NaN,The Huntington National Bank,COLUMBUS,OH,424410.0,U,0.0,NaN,57430.00,4.0,57922.48

In [11]:
print(f"The dataset contains {df.shape[0]} rows and {df.shape[1]} columns.")

The dataset contains 8863652 rows and 19 columns

In [13]:
df.describe()

,loannumber,originatinglenderlocationid,cert,cb,stchrtr,naicscode,lmiindicator,minority,currentapprovalamount,jobsreported,forgivenessamount
count,8.863652e+06,8.863642e+06,6.087184e+06,6.087184e+06,6.087184e+06,8.731249e+06,8.863648e+06,2.268874e+06,8.863652e+06,8.863645e+06,3.999455e+06
mean,5.532316e+09,2.029286e+05,2.058782e+04,3.947462e-01,6.089246e-01,5.304343e+05,2.872341e-01,5.610814e-01,6.655374e+04,7.558607e+00,9.677232e+04
std,2.590909e+09,2.031560e+05,1.953227e+04,4.887962e-01,4.879913e-01,2.007587e+05,4.524718e-01,4.962551e-01,2.753851e+05,2.630661e+01,3.171081e+05
min,1.000007e+09,2.000000e+01,3.500000e+01,0.000000e+00,0.000000e+00,1.111100e+05,0.000000e+00,0.000000e+00,0.000000e+00,-6.000000e+00,1.000000e-02
25%,3.327685e+09,4.192100e+04,4.239000e+03,0.000000e+00,0.000000e+00,4.452200e+05,0.000000e+00,0.000000e+00,9.000000e+03,1.000000e+00,1.082323e+04
50%,5.548108e+09,9.648500e+04,1.402800e+04,0.000000e+00,1.000000e+00,5.412110e+05,0.000000e+00,1.000000e+00,2.025400e+04,1.000000e+00,2.280864e+04
75%,7.764708e+09,4.567560e+05,3.355500e+04,1.000000e+00,1.000000e+00,7.111300e+05,1.000000e+00,1.000000e+00,3.341818e+04,5.000000e+00,6.922728e+04
max,9.999009e+09,5.334790e+05,9.128000e+04,1.000000e+00,1.000000e+00,9.999900e+05,1.000000e+00,1.000000e+00,1.000000e+07,5.000000e+02,1.012389e+07